<ul>
  <li class="taskCard">
    <div class="information">
      <span class="information-name">{{ task.name }} </span>
      <span>{{ task.description }} </span>
    </div>
    <div class="taskCard-right">
      <div class="taskCard-date">
        <span *ngIf="task.date">{{ task.date }} </span>
        <span *ngIf="!task.date">No date selected </span>
      </div>
      <div (click)="changePriority(task)">
        <span *ngIf="task.priority"><i class="bi bi-star-fill"></i></span>
        <span *ngIf="!task.priority"> <i class="bi bi-star"></i></span>
      </div>

      <div
        class="menu-container"
        appToggleDrop
        (clickOutside)="clickedOutside()"
      >
        <span class="menu-toggler" (click)="toggleMenu()">
          <i class="bi bi-three-dots-vertical"></i>
        </span>
        <div class="menu" *ngIf="isMenuOpen">
          <a (click)="onEdit(task)" class="menu-item">Edit</a>
          <a (click)="onDelete(task)" class="menu-item">Delete</a>
        </div>
      </div>
    </div>
  </li>
  <div *ngIf="editTask == true">
    <app-task-edit [taskToEdit]="task" (changeSaved)="onSave()"></app-task-edit>
  </div>
</ul>
