<div class="row">
  <div class="col-xs-12">
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          ngModel
          required
          name="password"
          class="form-control"
          minlength="6"
        />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Log In" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" (click)="onModeChange()" type="button">
          {{ isLoginMode ? "Switch to Sign Up" : "Switch to Log In" }}
        </button>
      </div>
    </form>
  </div>
</div>
<app-load-spinner *ngIf="isLoading"></app-load-spinner>
