/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

:root {
  --bgColor1: #ececec;
  --bgColor2: white;
  --bgColor3: #22303c;
  --bgColor4: #2abd67;
  color: black;
}

.dark {
  --bgColor1: #15202b;
  --bgColor2: #192734;
  --bgColor3: #22303c;
  color: white;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-bottom: 1px solid;
  background-color: var(--bgColor2);
  width: 100%;
}

/*Header toggle sidebar icon */
.bi.bi-list-task {
  cursor: pointer;
  padding: 3px;
}
.bi.bi-list-task:hover {
  background-color: var(--bgColor4);
  color: #ffffff;
  border-radius: 5px;
}

.header-login {
  background-color: var(--bgColor4);
  display: flex;
  color: #ffffff;
  border: 0;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-title span {
  color: var(--bgColor4);
}

.header-title {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.bi.bi-check-circle {
  font-size: 1.5rem;
  margin-right: 3px;
}

.sidebar {
  height: 100%;
  padding: 0.625rem 1.25rem;
  width: 350px;
  background-color: var(--bgColor2);
}

.sidebar-element.home {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.sidebar-element.projects {
  font-size: 1rem;
}

.sidebar-items {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid;
  border-color: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  justify-content: space-between;
}

.sidebar-title {
  font-weight: bold;
  border-bottom: 2px solid;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 24px;
  font-size: 2rem;
}

.sidebar--active {
  border-left: 4px solid #2abd67;
  background-color: #2abd6770;
}

ul {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

.sidebar-items:hover {
  background-color: rgba(128, 128, 128, 0.267);
  cursor: pointer;
}

.sidebar-items.sidebar--active:hover {
  background-color: #2abd6770;
}

.mainBody {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--bgColor1);
}

.container {
  margin-top: 20px;
  flex-grow: 1;
}

.container-projectName {
  font-size: 2.25rem;
  padding: 1.25rem;
  background-color: #2abd67;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  margin-bottom: 0.625rem;
}

.taskCard {
  border: 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.information {
  display: flex;
  flex-direction: column;
}

.information-name {
  font-size: 1rem;
  font-weight: 600;
}

.taskCard-right {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.taskCard-date {
  border-radius: 6px;
  border: 1px solid;
  padding: 2px 10px;
  text-align: center;
  white-space: nowrap;
}

.taskCard i {
  font-size: 1.5rem;
}

.taskCard.taskCard-create {
  display: block;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1.25rem;
}

.taskCard.taskCard-create:hover {
  background-color: rgba(255, 255, 255, 0.692);
}

/*Star color*/
.bi.bi-star-fill {
  color: #f6ae2d;
}

.bi.bi-box-arrow-in-right {
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.bi.bi-box-arrow-left {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}

.form-container {
  margin: 20px auto;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}
.form-container label {
  display: block;
  margin-bottom: 10px;
}
.form-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
}

.form-container.spinner {
  border: none;
}

.menu-container {
  position: relative;
}

.menu {
  background-color: var(--bgColor1);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  right: 1%;
}

.menu-item {
  z-index: 1;
  padding: 3px 12px;
  font-weight: bold;
}

a.menu-item:hover {
  text-decoration: underline;
  color: inherit;
}

.menu::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

footer {
  background-color: #f9f9f9;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #636363;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  header {
    position: sticky;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .sidebar {
    max-width: 10em;
  }

  .taskCard {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }

  .sidebar-container {
    position: sticky;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
  }
}
